* {
    box-sizing: border-box;
}
body {
    background-color: gray;
    font-size: 40px;
}
.container {
    position: relative;
    width: 600px;
    margin-top: 50px;
    margin-left: 50px;

}
.list {
    border: 1px solid black;
    background-color: white;
    height: fit-content;
}
label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    /* gap: 150px; */
}
ul {
    position: absolute;
    width: 100%;
    height: 0;
    overflow:hidden;
    margin-top: 0;
    background-color: white;
    list-style: none;
    padding-left: 0;
    transition: all 0.5s ease-in-out;
}
input[id="city"]:checked ~ ul {
    height: 200px;
    overflow-y: scroll;
}
/* .container ul input {
    display: none;
} */
input {
    display: none;
}
ul li label:hover {
    background-color: rgb(42, 141, 42);
}

/* .container label div:after {
    content: '';
}
.container:has(input[id="tehran"]:checked) label div:after {
    content: ' Tehran';
}
.container:has(input[id="tehran"]:checked) ul {
    height: 0;
}
.container:has(input[id="kish"]:checked) label div:after {
    content: ' Kish';
}
.container:has(input[id="kish"]:checked) ul {
    height: 0;
}
.container:has(input[id="esfehan"]:checked) label div:after {
    content: ' Esfehan';
}
.container:has(input[id="esfehan"]:checked) ul {
    height: 0;
}
.container:has(input[id="mashhad"]:checked) label div:after {
    content: ' Mashhad';
}
.container:has(input[id="mashhad"]:checked) ul {
    height: 0;
}
.container:has(input[id="tabriz"]:checked) label div:after {
    content: ' Tabriz';
}
.container:has(input[id="tabriz"]:checked) ul {
    height: 0;
}
.container:has(input[id="kerman"]:checked) label div:after {
    content: ' Kerman';
}
.container:has(input[id="kerman"]:checked) ul {
    height: 0;
}
.container:has(input[id="qeshm"]:checked) label div:after {
    content: ' Qeshm';
}
.container:has(input[id="qeshm"]:checked) ul {
    height: 0;
} */

